/***************************SECTION*************************************/
/***************************FOOTER*************************************/
footer{
    background: #353535;
    margin-top: 50px;
    padding: 30px 20px;
    .footer-logo{
        height: 20px;
        color: white;
        margin-bottom: 10px;
    }
    p{
        color: white;
        font-weight: 600;
        padding-bottom: 4px;
        footer p i{
            width: 25px;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
}




/*********************************************************************************/
/* ------------------------------ RESPONSIVE : TABLETTE ( 768px) ----------------- */
/*********************************************************************************/


@media (min-width: 768px)
{

}

/*********************************************************************************/
/* -------------------- RESPONSIVE : DESKTOP (992px ) ------------------------------ */
/*********************************************************************************/

@media (min-width: 992px)
{

}

/*********************************************************************************/
/* ------------------- RESPONSIVE : BIG TELEPHONE (  de 450px) ------------------- */
/*********************************************************************************/

@media (min-width: 450px)
{

}
