.banner{
    text-align: center;
    box-shadow: 2px 5px 2px #0e0d0c;
    width: 100%; 
    img{
        height: 2em;
        margin: 15px 0px 5px;
    }
}




/*********************************************************************************/
/* ------------------------------ RESPONSIVE : TABLETTE ( 768px) ----------------- */
/*********************************************************************************/


@media (min-width: 768px)
{
/*HEADER*/
.banner{
    text-align: center;
    width: auto;
}
}

/*********************************************************************************/
/* -------------------- RESPONSIVE : DESKTOP (992px ) ------------------------------ */
/*********************************************************************************/

@media (min-width: 992px)
{

}

/*********************************************************************************/
/* ------------------- RESPONSIVE : BIG TELEPHONE (  de 450px) ------------------- */
/*********************************************************************************/

@media (min-width: 450px)
{

}
